In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display

In [2]:
data = pd.read_csv("model-performance.csv")
data

                Method  Accuracy  Precision  Recall  F1_score
0                  KNN     80.24      88.04   69.62     75.34
1             KNN - GS     84.75      87.07   82.06     81.78
2     KNN + FS20 + GS      79.80       1.00   59.59     70.90
3      KNN + FS40 + GS     84.44       1.00   68.88     77.16
4      KNN + FS50 + GS     85.91      97.85   73.78     79.22
5      KNN + FS70 + GS     85.95      97.79   73.88     79.30
6   KNN + Wrapper + GS     86.37      97.72   74.86     79.79
7                   DT     84.84      86.32   83.75     81.49
8              DT + GS     86.56      90.19   81.97     82.38
9                  SVM     72.69      77.97   63.34     69.90
10            SVM + GS     82.05      99.68   64.03     77.97
11  SVM + Wrapper + GS     81.83      99.02   64.37     78.02

In [6]:
def Borda(names, X):
    
    df = pd.DataFrame({})
    df["Method"] = names
    
    cols = list(X.columns)
   
    for col in cols:
        x = X[col].unique()
        x = sorted(x)
        borda_dict = {}
        for i, val in enumerate(x):
            borda_dict[val] = i+1
        borda_val = [borda_dict[val] for val in X[col]]
        df[col +" Score"] = borda_val
    
    col_list = list(df.columns)
    df["Score"] = df[col_list].sum(axis = 1)
    scores = sorted(df["Score"].to_list(), reverse=True)
    rank_dict = {}
    
    for i, val in enumerate(scores):
        rank_dict[val] = i+1
    rank = [rank_dict[val] for val in df["Score"]]
    df["Rank"] = rank
    
    df = df.sort_values(by=['Rank'])
    return df

In [7]:
names, X = data['Method'], data.drop('Method', axis=1)
Borda(names, X)

<ipython-input-6-af05b234eb1e>:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df["Score"] = df[col_list].sum(axis = 1)

,Method,Accuracy Score,Precision Score,Recall Score,F1_score Score,Score,Rank
8,DT + GS,12,6,10,12,40,1
6,KNN + Wrapper + GS,11,7,9,9,36,2
5,KNN + FS70 + GS,10,8,8,8,34,3
1,KNN - GS,7,4,11,11,33,5
7,DT,8,3,12,10,33,5
4,KNN + FS50 + GS,9,9,7,7,32,6
10,SVM + GS,5,11,3,5,24,8
11,SVM + Wrapper + GS,4,10,4,6,24,8
0,KNN,3,5,6,3,17,9
3,KNN + FS40 + GS,6,1,5,4,16,10
2,KNN + FS20 + GS,2,1,1,2,6,12
9,SVM,1,2,2,1,6,12